.header {
  height: 40px;
  display: flex;
  justify-content: space-between; /* Align items on left, center, and right */
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 20px;
}

.header__left, .header__right {
  display: flex;
  align-items: center;
}

.header__left {
  flex: 1;
  justify-content: flex-start; /* Align left elements to the start */
}

.header__logo {
  height: 38px; /* Adjust this value to control the logo height */
  width: auto; /* Let the width scale automatically based on the height */
  object-fit: contain; /* Ensure the logo maintains its aspect ratio */
}


.header__right {
  flex: 1;
  justify-content: flex-end; /* Align right elements to the end */
}

.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: white;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 12px;
  font-weight: 800;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .header {
      flex-direction: column;
      height: auto;
  }

  .header__logo {
      margin: 10px 0;
  }

  .header__left, .header__right {
      justify-content: center;
      margin: 10px 0;
  }
}
