.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    max-width: 1500px;
  }

  .home__row {  
    display: flex; 
    z-index: 1; 
    margin-left: 5px;  
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  .home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -80px;
  }