/* Parent container */
.home {
  display: flex;
  flex-direction: column; /* Aligns content vertically */
  justify-content: center;
  align-items: center; /* Centering horizontally */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 78%;
  max-width: 1500px; /* Limits the width */
}

/* Row container */
.home__row {  
  display: flex; 
  justify-content: space-between; /* Ensure proper space between items */
  align-items: center; /* Center items in the row */
  z-index: 1; 
  margin: 5px; /* This applies margin to all sides */
  width: 100%; /* Ensure row takes full width of parent container */
  max-width: 1500px; /* Keeps row within max-width limit */
}

/* Image container */
.home__image-container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  width: 100%; /* Make sure the image container spans full width */
}

/* Image */
.home__image {
width: calc(100% - 18px);
z-index: -1;
margin-left: 14px;
margin-top: 40px;

 /* Applies margin to all sides */
}
